:root {
    --main-color: #333;
    --text-light: #f4f4f4;
    --background-color: #f4f4f4;
    --hover-dark: #2a2a2a;
    --font: 'Elms Sans', sans-serif;
}
html {
    margin: 0;
    padding: 0;
}
body {
    color: var(--main-color);
    background-color: var(--background-color);
    font-family: var(--font);
}
header {
    background-color: var(--main-color);
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul {
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    transition: background-color .18s ease-in-out;
    /*transition: font-weight .18s ease-in-out;*/
}
nav ul li a:hover {
    background-color: var(--hover-dark);
    /*font-weight: 900;*/
}

/*underline current page on navbar*/
nav ul li a{position:relative}
nav ul li a::after{
    content: "";
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: -6px;
    height: 3px;
    background: var(--main-color);
    border-radius: 2px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .18s ease;
}
nav ul li a:hover::after, nav ul li a:focus::after, nav ul li a[aria-current="page"]::after{
    transform: scaleX(1);
}
#page {
    margin-top: 60px;
    padding: 20px;
    margin-bottom: 20px;
}
h1 {
    font-weight: 800;
}
h2 {
    font-weight: 700;
}
hr {
    border: none;
    height: 2px;
    background-color: var(--main-color);
    margin: 20px 0;
}
input[type="button"], button {
    font-family: var(--font);
    font-size: 1em;
    font-weight: 700;
    color: var(--text-light);
    background-color: var(--main-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color .18s ease-in-out;
    margin-bottom: 20px;
}
input[type="button"]:hover, button:hover {
    background-color: var(--hover-dark);
}
input[type="text"], textarea {
    font-family: var(--font);
    font-size: 1em;
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid var(--main-color);
    border-radius: 0px;
    outline: none;
    transition: border-color .18s ease-in-out;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--background-color);
    border: 2px solid var(--text-light);
    border-radius: 0px;
    transition: background-color .18s ease-in-out, border-color .18s ease-in;
    outline: 2px solid var(--main-color);
    margin-bottom: 20px;
}
input[type="checkbox"]:checked {
    background-color: var(--main-color);
}
input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--background-color);
    border: 2px solid var(--text-light);
    border-radius: 10px;
    transition: background-color .18s ease-in-out, border-color .18s ease-in;
    outline: 2px solid var(--main-color);
    margin-bottom: 20px;
}
input[type="radio"]:checked {
    background-color: var(--main-color);
}
/* custom dropdown styling bc its annoying rahh */
.select {
    position: relative;
    width: 100px;
}
.select p {
    display: inline-block;
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--text-light);
    cursor: pointer;
    user-select: none;
    border: 2px solid var(--main-color);
    transition: background-color .18s ease-in-out;
}
/* format of the list*/
.select ul {
    position: absolute;
    display: block;
    list-style-type: none;
    text-align: left;
    background-color: var(--background-color);
    border: 2px solid var(--main-color);
    padding-left: 0px;
    margin-top: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: visible;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .18s ease-in-out;
}
/* format of the list, when hovering over the div*/
.select:hover ul {
    transform: scaleY(1);
}
/* format of the list items*/
.select ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color .18s ease-in-out;
}
/* format of the list items when hovering on them*/
.select ul li:hover {
    background-color: var(--hover-dark);
    color: var(--text-light);
}
/* tic tac toe specific thingyies */
.cell {
    width: 80px;
    height: 80px;
    border: 2px solid var(--main-color);
    background-color: var(--background-color);
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: var(--font);
    font-weight: 800;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    margin: 10px;
    transition: background-color .18s ease-in-out;
    transition: color .18s ease-in-out;
}
.cell:hover {
    background-color: var(--hover-dark);
    color: var(--text-light);
}
/* Prevent layout shift when cells are focused/active */
.cell {
    box-sizing:border-box;
    vertical-align:top;
    -webkit-tap-highlight-color:transparent;
    user-select:none;
}
.cell:focus-visible {
    outline:3px solid var(--main-color);
    outline-offset:3px;
}
#turn-text {
    font-size: 1.5em;
    margin-bottom: 10px;
}
/* no more tic tac toes */

